* {
    font-family:"Philosopher",sans-serif;
}

.btn-mqtt {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 99;
    height: 60px;
    width: 100px;
    border-radius: 5%;
}

.box-area {
    margin-top: 3%;

    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;

    justify-content: space-between;
}

.box {
    border: 1px 1px rgb(0,0,0,.1);
    box-shadow: 2px 3px 4px #0004;
    border-radius: 5%;
    background: #eee;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-left: 15px;
    padding: 15px;
    margin-bottom: 15px;
}


.chave-geral {
    display: flex;
    align-self: flex-end;
}

.box p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.box span {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.box button {
    width: 80%;
    align-self: center;
}

.box-gadgets {
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    justify-content: space-between;
}

.box-gadget {
    width: 29%;
    background: #eee;

    margin-left: 1.5%;
    margin-right: 1.5%;

    border: 1px 1px rgb(0,0,0,.1);
    box-shadow: 2px 3px 4px #0004;
    border-radius: 5%;

    height: 400px;
}

.box-gadget:first-of-type {margin-left: 3%;}
.box-gadget:last-of-type {margin-right: 3%;}

.box-gadget p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.box-gadget #chart_div {
    align-self: center;
}
.box-gadget #TExt_chart_div {
    align-self: center;
}

.OffClass {
    color: #FF0000;
    font-weight: 800;
}
.OnClass {
    color: #00FF00;
    font-weight: 600;
}